* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Italic";
    src: url("Dosis-VariableFont_wght.ttf") format("truetype");
}
.title {
    font-family: Italic;
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
}
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
    margin-left: 100px;
    gap: 15px;
}
.container_button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.button_teste {
    border: none;
    border-radius: 10px;
    background-color: #488d1a;
    color: white;
    font-weight: 500;
    width: 150px;
    height: 37px;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.button {
    border: none;
    border-radius: 10px;
    background-color: #960500;
    color: white;
    font-weight: 500;
    width: 150px;
    height: 37px;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.button_teste:hover {
    color: white;
    background-color: #76bd47;
    transition: background-color 0.3s ease; 
}
.button:hover {
    color: white;
    background-color: #b43430;
    transition: background-color 0.3s ease;
}