* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Italic";
    src: url("Dosis-VariableFont_wght.ttf") format("truetype");
}
.title {
    font-family: Italic;
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    margin-left: 50px;
    gap: 5px;
}
a {
    text-decoration: none;
}
.card {
    width: 19rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0,1);
}
.card:hover {
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-text:hover {
    color: #113968;
    margin-top: 15px;
}